/* style2.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('../images/ft-laud-beach.jpg');

@media only screen and (max-device-width: 428px) {
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Dosis', 'Arial', 'Helvetica', sans-serif; 
    text-decoration: none;
    list-style: none
}

.header{
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 100;
}

.about-header,
.gottphotos-header,
.gottcustoms-header,
.contact-header,
.thank-you-header{
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    font-size: 20px;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.logo:hover{
    color: #49c9d7;
    text-shadow: none;
    transform: scale(1.1);
}

.navbar{
    display: none;
}

.navbar.active{
    display: block;
}

.navbar a{
    display: block;
    margin: 10px 0;
    background: none;
    color: #49c9d7;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    background: none;
    color: #49c9d7;
    text-decoration: underline;
}

.menu-btn{
    display: block;
    background: none;
    border: none;
    color: #49c9d7;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.menu-btn:hover{
    background: none;
    color: #49c9d7;
}

.navbar{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background: #333333;
    z-index: 99;
}

.menu-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.menu-btn,
.contact{
    position: relative;
    z-index: 101;
}

.menu-btn{
    top: 0px;
    right: 0px;
}

.contact{
    top: 0px;
}

.contact,
.contact-header a.active{
    background-color: #49c9d7;
    color: #FFFFFF;
    padding: 5px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact:hover,
.contact:active{
    background-color: #49c9d7;
    box-shadow: 0 0 25px #49c9d7;
}
   
.home{
    background-image: url('../images/ft-laud-beach.jpg');
    background-size: cover; 
    background-position: center;
    padding: 20px;
    height: 100vh;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    text-shadow: 
        -2px -2px 0 #49c9d7,  
        2px -2px 0 #49c9d7,
        -2px 2px 0 #49c9d7,
        2px 2px 0 #49c9d7;
}

.home-content h1{
    font-size: 48px;
}

.home-content h3{
    font-size: 24px;
}

.home-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 70px;
}

.home-img img{
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-bottom: 2px;
}

.home-img figure{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.home-img figcaption{
    margin-bottom: 5px;
    display: block;
    font-family: 'Dosis', 'Quicksand', 'Arial', 'Helvetica', sans-serif; 
    font-size: 16px;
    color: #49c9d7;
    text-align: center;
}

.home-img a,
.gottphotos-content a,
.gottcustoms-content a{
    color: #49c9d7;
}

.home-img a:hover,
.gottphotos-content a:hover,
.gottcustoms-content a:hover,
.gottcustoms-content a:hover{
    color: #49c9d7;
    text-decoration: underline;
}

.about{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px 10px;
}

.about-img{
    flex: 0 0 100%;
    margin-bottom: 20px;
}

.about-img img{
    width: 100%;
}

.about-content{
    flex: 0 0 100%;
    padding: 0;
}

.about,
.gottphotos,
.gottcustoms{
    text-align: center;
}

.about-content h2,
.gottphotos-content h2,
.gottcustoms-content h2,
.contact-form h2,
.thank-you-content h2{
    font-size: 24px;
    margin-bottom: 5px;
    color: #49c9d7;
}

.gottcustoms-content h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.about-content p,
.gottphotos-content p,
.gottcustoms-content p,
.thank-you-content p{
    font-size: 14px;
    margin: 5px 0;
}

.gottphotos,
.gottcustoms{
    margin-top: 70px;
}

.gottphotos-content,
.gottcustoms-content{
    max-width: 100%;
    padding: 0 10px;
    margin: 0;
}

.gottcustoms-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gottcustoms-logo img{
    max-width: 60px;
    max-height: 60px;
}

.gottphotos-imgs,
.gottcustoms-imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gottphotos-imgs img,
.gottcustoms-imgs img{
    margin: 10px;
    margin-bottom: 100px;
    max-width: 90%;
    height: auto;
}

.contact-form h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.contact-form form{
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
}

.contact-form form .input-box input,
.contact-form form textarea{
    align-items: center;
    width: 100%;
}

.contact-form form textarea{
    margin-bottom: 10px;
}

.contact-form form .btn{
    width: 100%;
    margin: 0 auto;
}

.btn{
    padding: 5px;
    background-color: #49c9d7;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 12px;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: #49c9d7;
    box-shadow: 0 0 25px #49c9d7;
    color: #FFFFFF;
    border: 2px solid transparent;
}

.thank-you-content{
    margin-top: 70px;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
    z-index: 1000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.footer .footer-navbar a{
    color: #FFFFFF;
    margin: 0 20px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.footer .footer-navbar a:hover,
.footer .footer-navbar a:after{
    color: #49c9d7;
    text-decoration: underline;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social a{
    font-size: 14px;
    color: #FFFFFF;
    border: 2px #49c9d7;
    border-radius: 48%;
    width: 24px;
    height: 24px;
    margin: 0 14px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px #49c9d7, 0 0 10px #49c9d7;
    transition: 0.3s ease;
}

.social a:hover{
    transform: scale(1.1) translateY(-8px);
    color: #49c9d7;
    border: 2px solid #49c9d7;
}
}